@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Ubuntu;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1233px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding-top: 34px;
    padding-bottom: 12px;
}

.header__content {
    display: flex;
}

.header__menu {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin-left: 21px;
    gap: 41px;
    margin-top: 4px;
}

.header__menu li a {
    color: black;
}

.header__tell-and-mass {
    display: flex;
    gap: 36px;
    margin-left: auto;
    margin-top: -24px;
    margin-right: 2px;
}

.header__tell,
.header__mass {
    display: flex;
    gap: 12px;
}

.tell,
.mass {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}

.tell span,
.mass span {
    font-size: 18px;
    font-weight: 400;
}

.tell a,
.mass a {
    color: black;
}

.services-about {
    background-image: url("../images/background.png");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.services-about__content {
    margin-top: 154px;
}

.services-about__transit {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    gap: 24px;
}

.services-about__transit a {
    color: #9A9CA5;
}

.transit-1::before {
    content: '/';
    position: absolute;
    margin-left: 79px;
    color: #9A9CA5;
}

.transit-1:hover,
.transit-2:hover {
    color: #424551;
}

.servics-about__title {
    color: var(--gray-900, #1E212C);
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 0;
}

.services-about__text {
    color: var(--gray-700, #787A80);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    width: 600px;
    margin-top: 21px;
}